<div *ngIf="loaded" class="login-user-component">
	<form *ngIf="!isLogged" class="navbar-form navbar-right" (submit)="loginUser($event)">
		<div class="form-group">
			<input [(ngModel)]="loginUserData.email" name="email" required="required" type="email" class="form-control" placeholder="Email">
		</div>
		<div class="form-group">
			<input [(ngModel)]="loginUserData.password" name="password" required="required" type="password" class="form-control" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default">Login</button>
	</form>
	<div *ngIf="isLogged" class="logged-user-container navbar-form navbar-right">
		<div class="col-md-8 logout-text">
			<p class="name">
				Logged as: <b> {{ currentUser.name }} </b>
			</p>
		</div>
		<div class="col-md-4 logout-button">
			<input (click)="logout()" type="button" value="Log Out" class="btn btn-danger">
		</div>
		<div class="col-md-4 edit-button">
			<!--<input>  <a>"edit-user"</a> type="button" value="Edit Profile" class="btn btn-danger" </input>-->
			<input routerLink="edit-user" type="button" value="Edit" class="btn btn-secondary">  	          
		</div>
	</div>
</div>