<form class="well" (submit)="addUser($event)">
	<div class="form-group">
		<input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Add User">
	</div>
</form>

<div class="user-list">
	<div *ngFor="let user of users">
		<div class="col-md-1">
			<input type="checkbox">
		</div>
		<div class="col-md-7">
			{{ user.name }}
		</div>
		<div class="col-md-4">
			<input (click)="deleteUser(user._id)" type="button" value="Delete" class="btn btn-danger">
		</div>
	</div>
</div>