
.App_HeaderComponent{
    background-color: #333; 
    height: 50px;
    color: white; 
}

.App_BodyComponent{
    align-content: space-around;
    flex-direction: row;
    display: flex;
    background-color: rgb(210,198,184); 
    background-size: cover;
 } 

 .App_BodyChildrenComponent{
    width: 1000px;
    flex: 4;
 }

  .App_FooterComponent{
    flex: 1;
    background-color: #333; 
    height: 50px;
    color: white;
}

.BodyHome{
    background: url(./img/scroll_fade.jpg) no-repeat center center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
}


.BodyHome_Headers{
    flex:1;
    float: left;
}

.BodyHome_Headers h1{
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    text-align: center;
}

.BodyHome_Headers h2{
    font-size: 80px;
    width: 1000px;
    text-align: center;
}

.BodyHome_SignUpComponent{
    flex: 1;
}

.SignUp{
    text-align: center;
    float: right;
    margin-top: 60px;
    margin-right: 90px;
    margin-bottom: 60px;  
    width: 400px; 
    border-style: solid;
    border-color: #333333;  
}

.Header{
    flex: 1;
    flex-direction: row;
}

.Header_NavBarComponent{
    flex-direction: row;
    flex: 3
}

.Header_LoginComponent{
    flex-direction: row;
    flex: 1
}



