
.App{
    display: flex;
    flex-direction: column;
    flex: 1;

    /*flex-wrap: wrap;
    align-items: stretch;*/
}

.App_HeaderComponent{
    background-color: #333; 
    height: 50px;
    color: white; 
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.App_BodyComponent{
    height: 650px;
    align-content: space-around;
    flex-direction: row;
    display: flex;
    background-color: rgb(210,198,184); 
    background-size: cover;
 } 

 .App_BodyChildrenComponent{
    flex-grow: 10 ;
 }

  .App_FooterComponent{
    flex-direction: row;  
    flex-grow: 1;
    background-color: #333; 
    color: white;
}

.BodyHome{
    height: 650px;
    background: lightslategrey;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    flex: 1;
}


.BodyHome_Headers{
    flex:1;
    float: left;
}

.BodyHome_Headers h1{
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    text-align: center;
}

.BodyHome_Headers h2{
    font-size: 80px;
    width: 1000px;
    text-align: center;
}

.BodyHome_SignUpComponent{
    flex-grow: 1;
}

.SignUp{
    text-align: center;
    float: right;
    margin-top: 60px;
    margin-right: 90px;
    margin-bottom: 60px;  
    width: 400px; 
    border-style: solid;
    border-color: #333333;  
}

.Header{
    display: flex;
    flex: 1;    
    flex-grow: 1;
    flex-direction: row;
}

.Header_NavBarComponent{
    flex-direction: row;
    flex-grow: 3
}

.Header_LoginComponent{
    flex-direction: row;
    flex-grow: 1
}



